.flip-card {
    background-color: transparent;
    width: 100%;
    height: 250px;
    perspective: 1000px; /* Add perspective to simulate 3D effect */
    margin-bottom: 5%;
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d; /* Preserve 3D effect on children */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg); /* Flip the card when 'flipped' class is added */
  }
  
  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Hide the back of the card during rotation */
    border: 1px solid #ccc; /* Add border */
    padding: 20px; /* Add padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border-radius: 8px; /* Add border radius */
    font-family: Arial, sans-serif; /* Font family */
    font-size: 20px; /* Font size */
    color: #333; /* Text color */

    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text within the container */
  }
  
  .flip-card-front {
    background: #1b4965;/* Gradient background */
    color: white;
  }
  
  .flip-card-back {
    background-color: #ee6c4d;
    transform: rotateY(180deg); /* Initially hide the back of the card */
    color: white;
  }
  
  .song-title {
    font-size: 18px; /* Adjust font size as needed */
    margin-bottom: 10px; /* Adjust margin as needed */
    padding-right: 10%;
  }
  
  .album-cover {
    width: 150px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
  }